<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Insurance Change Estimator</title>
</head>
<body class="d-flex flex-column h-100 m-auto justify-content-center" style="width: 90%">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Pat's ML Estimator</span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('welcome') }}>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('get_car_information') }}>Estimate MPG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('get_person_information') }}>Estimate Diabetes</a>
                </li>


            </ul>
        </div>
        </div>
    </nav>

    <main >
    <br>
    <br>
    <br>
        <div class="d-flex justify-content-center w-50 m-auto">
             {% block messages %}{% endblock %}
         </div>
         <div class="d-flex justify-content-center w-50 m-auto">
            {% block H1_Description %}{% endblock %}
         </div>
         <br>
         <div class="d-flex justify-content-center w-50 m-auto">
             {% block H1_Content %}{% endblock %}
         </div>
         <div class="d-flex justify-content-center w-50 m-auto">
             {% block H2_Description %}{% endblock %}
         </div>
         <div class="d-flex justify-content-center w-50 m-auto">
             {% block H2_Content %}{% endblock %}
         </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </main>
    <footer class="footer mt-auto py-3 navbar-dark bg-dark fixed-bottom">
        <div class="container">
            <span class="text-muted">Website design by Patrick Broders</span>
        </div>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    </body>
</html>