{% extends "base.html" %}

{% block messages %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endblock %}

{% block H1_Description %}
    <h1 class="shadow p-3 my-3 text-center">Welcome To Pat's Machine Learning Application!</h1>
{% endblock %}

{% block H1_Content %}
    <div class="shadow p-3 my-3 text-center">
        <h2>
            Using the navigation bar above, you can use my machine learning models to:
        </h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                get a miles per gallon estimate for a car based on the number of cylinders, horsepower, weight,
                origin and year.
            </li>
            <li class="list-group-item">
                get an estimate if a person has diabetes or not, based on a person's age, BMI and glucose level.
            </li>
        </ul>
    </div>
{% endblock %}

{% block H2_Description %}
    <h1 class="shadow p-3 my-3 text-center">Social Media</h1>
{% endblock %}

{% block H2_Content %}
    <div class="shadow p-3 my-3 text-center">
        <h2>
            If you like this simple flask application, feel free to follow me on
            <a href="https://www.linkedin.com/in/patrick-broders/">LinkedIn</a> or
            <a href="https://github.com/Brozon3">GitHub</a>.
        </h2>
    </div>
{% endblock %}