{% extends "base.html" %}

{% block messages %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endblock %}

{% block H1_Description %}
    <div class="container">
        <div class="row row-cols-3" style="grid-gap: 20px;">
            <h4 class="font-weight-bold mb-0">Car Cylinders: <span class="text-muted font-weight-normal">{{ car_dict.cylinders }}</span></h4>
            <h4 class="font-weight-bold mb-0">Car Horsepower: <span class="text-muted font-weight-normal">{{ car_dict.horsepower }}</span></h4>
            <h4 class="font-weight-bold mb-0">Car Weight: <span class="text-muted font-weight-normal">{{ car_dict.weight }}</span></h4>
            <h4 class="font-weight-bold mb-0">Car Age: <span class="text-muted font-weight-normal">{{ car_dict.age }}</span></h4>
            <h4 class="font-weight-bold mb-0">Japan Origin: <span class="text-muted font-weight-normal">{{ car_dict.origin_japan }}</span></h4>
            <h4 class="font-weight-bold mb-0">USA Origin: <span class="text-muted font-weight-normal">{{ car_dict.origin_usa }}</span></h4>
        </div>
    </div>
{% endblock %}

{% block H1_Content %}
{% endblock %}

{% block H2_Description %}
{% endblock %}

{% block H2_Content %}
{% endblock %}