{% extends "base.html" %}

{% block messages %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endblock %}

{% block H1_Description %}
    <div class="container">
        <div class="row row-cols-3" style="grid-gap: 20px;">
            <h4 class="font-weight-bold mb-0">Person Age: <span class="text-muted font-weight-normal">{{ person_dict.age }}</span></h4>
            <h4 class="font-weight-bold mb-0">Person BMI: <span class="text-muted font-weight-normal">{{ person_dict.bmi }}</span></h4>
            <h4 class="font-weight-bold mb-0">Person Glucose <span class="text-muted font-weight-normal">{{ person_dict.glucose }}</span></h4>
        </div>
    </div>
{% endblock %}

{% block H1_Content %}
{% endblock %}

{% block H2_Description %}
{% endblock %}

{% block H2_Content %}
{% endblock %}